@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #2b2d42;
  --color-secondary: #bfc6d2;
  --color-background: #f5f5f5;
  --color-accent: #535bf2;

  --border-radius: 0.5rem;

  --font-titles: "Frank Ruhl Libre", serif;
  --font-body: system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
}

/* Layout */
main {
  padding: 2rem;
}

header {
  padding: 1rem;
}

main,
header,
nav {
  max-width: 60rem;
  margin: 0 auto;
}

article,
nav {
  padding: 1rem 0;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}

.counter-button {
  background-color: var(--color-accent);
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 1000px; /* Make the button round */
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}
